/*Cursor styles*/

/* .custom-cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: #00ff9d;
    border-radius: 50%;
    pointer-events: none; 
    z-index: 9999; 
    transform: translate(-50%, -50%); 
    transition: all 0.1s ease;
    }
    .custom-cursor.hovered {
    background-color: #ffffff; 
    transform: scale(1.5); 
} */