/*Cursor styles*/
/* Custom cursor style */
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    pointer-events: none; /* Prevent cursor from interacting with elements */
    z-index: 9999; /* Ensure the cursor stays on top */
    transform: translate(-50%, -50%); /* Center the cursor */
    transition: all 0.1s ease; /* Smooth cursor movement */
    }
    .custom-cursor.hovered {
    background-color: blue; /* Change color when hovering */
    transform: scale(1.5); /* Increase size on hover */
}